<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/css/regular.min.css"/>
    
    <link rel="stylesheet" href="~/css/app.css"/>
</head>
<body>

<div id="elm-app"></div>
<script src="~/lib/jQuery/dist/jquery.min.js"></script>
<script src="~/lib/popper.js/dist/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/elm.js"></script>
<script type="text/javascript">
    Elm.Main.init({ 'node': document.getElementById('elm-app') });
</script>
</body>
</html>